section.about#about
  .about-overlay
  .about-content
    h2 About Us
    p 
      | At Work For All, we believe that everyone deserves a fulfilling job opportunity, 
      | and every company deserves the perfect hire. Our mission is to connect candidates 
      | with the right employers through fast, intuitive, and intelligent recruitment tools.
