footer.footer
  .footer-container
    .footer-block
      img.footer-logo(src="/public/logo.svg", alt="WFA Logo")
      p Head Office:
      p Khreshchatyk St, 22,
      p Kyiv, Ukraine, 01001

    .footer-block
      h3 Contact
      p General inquiries: +38 (044) 123-45-67
      p Support: +38 (067) 777-77-77
      p HR & Recruiters: +38 (093) 555-55-55

    .footer-block
      h3 Social Media
      .footer-icons
        img.footer-icon(src="/public/instagram.svg", alt="Instagram")
        img.footer-icon(src="/public/youtube.svg", alt="YouTube")
        img.footer-icon(src="/public/twitter.svg", alt="Twitter")
        img.footer-icon(src="/public/whatsapp.svg", alt="WhatsApp")
