header.header
  .container
    img.logo(src="/public/logo.svg", alt="WFA Logo")
    nav.nav
      ul.nav-list
        li: a(href="#") Home
        li: a(href="#who") Log in
        li: a(href="#about") About Us
        li: a(href="#footer") Contact
