doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Work For All
    link(rel="stylesheet", href="../scss/main.scss")
  body
    include ./header.pug
    include ./hero.pug
    include ./who.pug
    include ./about.pug
    include ./footer.pug
    include ./modals.pug
    script(type="module", src="../main.ts")
