@import 'variables';
@import 'mixins';
@import 'header';
@import 'hero';
@import 'who';
@import 'about';
@import 'footer';
@import 'modals';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 80px 0px 0px 0px;
    font-family: Montserrat;
    background-color: $color-bg;
    min-height: 0vh;
}

.hidden {
    display: none !important;
}